<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Model1Container" connectionString="metadata=res://*/Data.AdventureWorksModel.csdl|res://*/Data.AdventureWorksModel.ssdl|res://*/Data.AdventureWorksModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JIM-PC\MYMSSQLSERVER;initial catalog=AdventureWorksDW2012;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>